{% extends "skeleton.html" %}
{% block css %}
<link rel = "stylesheet" href = "{{url_for('static', filename = 'css/gallery.css') }}">
{% endblock %}
{% block script %}
<script defer type="text/javascript" src="{{url_for('static', filename = 'js/gallery.js') }}"></script>
{% endblock %}
{% block body %}
<div class ="popupBox">
    <img src = "{{url_for('static', filename = 'assets/coloringPages/amongUs.png') }}">
    <div class = "blueBtn" id ="confirmDrawing">CONFIRM</div>
</div>
<div class ="modal"></div>
<div id = "blueLine"></div>
<div class = "blueBtn">Select Drawing</div>
<div id = "galleryContainer">
    {%for i in range(files | length)%}
    <div class = "gallItem">
        <img src = "{{url_for('static', filename = 'assets/coloringPages/' + files[i]) }}">
    </div>
    {%endfor%}


</div>
{% endblock %}